# POSTGRES_PORT=5433

# Obligatoria para continuar usando REGIONAL BY ROW / GLOBAL después de la
# gracia inicial de siete días de un clúster nuevo CockroachDB v24.3.0.
# Solicítela al docente para el P1; no la suba al repositorio.
# COCKROACH_LICENSE=
